
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
}

body {
    background-color: black;
}
.main {
    background: url(./Assets/photos/bg_image.jpg);
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    
}
.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    height:100px;
}
nav img {
    color: red;
    width: 130px; 
    z-index: 10;
    position: relative;
}

nav button {
    
    z-index: 10;
    position: relative;
}
.hero {
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    height: calc(100%-100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    margin-top: 50px;

}
.hero>  :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 45, 45);
    position: relative;
    z-index: 20;
    
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size:12px ;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 70vw;
    
}

.secimg {
    position: relative;
}
.secimg img {
    max-width: 555px;
    z-index: 10;
    position: relative;
}

.secimg video {
    position: absolute;
    right: 0;
    top: 51px;
    visibility: inherit;
}

section.first > div {
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}
section.first > div :nth-child(2) {
    font-size: 30px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq {
    background-color: black;
    color: white;
   
    padding: 34px;
    
}

.faqbox {
    background-color: rgb(43, 42, 42);
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    
    max-width: 60vw;
    margin: 34px auto;
    padding: 24px;
    cursor: pointer;
}



.faqbox:hover {
   
    color: white;
    transition: all 0.4s ease-out;
    background-color: rgb(74, 73, 73);
}

footer{
    max-width: 60vw;
    color: white;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
footer a {
    text-decoration: none;
    color: white;
}

.qus {
    padding: 34px 0;
}

.thanks {
    color: white;
    font-size: 44px;
    margin: 40px 0;
    text-align: center;
    
}




